<body><!--BEGIN TOPBAR-->
		<div class="page-header-topbar">
			<nav id="topbar" role="navigation" class="navbar navbar-default">
				<div class="container-fluid">
					<div id="topbar-menu" class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							<li><a id="logo" href="#">DashBoard</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<!--END TOPBAR-->
		<div id="wrapper"><!--BEGIN PAGE WRAPPER-->
			<div id="page-wrapper"><!--BEGIN SIDEBAR MAIN-->
				<div class="sidebar-main sidebar">
					<div class="sidebar-collapse sidebar-scroll">
						<ul id="sidebar-main" class="nav">
							<li class="active"><a href=""><i class="icon-home"></i><span class="menu-title">Dashboard</span></a></li>
							<li><a href=""><i class="icon-notebook"></i><span class="menu-title">Posts</span><span class="badge badge-success">6</span></a></li>
							<li><a href=""><i class="icon-users"></i><span class="menu-title">Categories</span><span class="badge badge-warning">4</span></a></li>
						</ul>
					</div>
				</div>
				<!--END SIDEBAR MAIN--><!--BEGIN CONTENT-->
				<div class="page-content">
					<div class = "box-content">
						<div class = "content">
							<div class = "row">
								<div class = "col-md-12">
									<div class = "panel">
										<div class = "panel-body mtm">
										<!--
											<table id = "tblex" class="tree-projects table table-striped table-condensed mbn"></table>
											<div id="summernote">Hello Summernote</div>
											<div id="mygallery" >
												<a href="assets/images/f">
													<img alt="Title 1" src="assets/images/f.jpg"/>
												</a>
												<a href="assets/images/a.jpg">
													<img alt="Title 1" src="assets/images/a.jpg"/>
												</a>
												<a href="assets/images/c.jpg">
													<img alt="Title 1" src="assets/images/d.jpg"/>
												</a>
										--
												
												<!-- other images... -->
											</div>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>	
				</div>
				<!--END PAGE WRAPPER-->
			</div>
			<!--BEGIN FOOTER-->
			<div id="footer">
				<div class="copyright">2014 © &mu;Admin - Responsive Multi-Style Admin Template</div>
			</div>
		
			<script>jQuery(document).ready(function () {
				"use strict";
				//$.fn.Dashboard.init();
				Layout.init();


			});
			
			
			</script>
		</body>